@media (max-width: 1251px) {
    .s-categories__slim {
        margin-right: 10px;
    }

    .s-work {
        padding: 0 15px;
    }

    .s-example{
        padding: 0px 15px 73px 15px;
    }

    .footer {
        padding: 64px 15px 0px 15px;
    }
}
