@media (max-width: 1457px) {
    .s-nav__wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .s-pre__bg-image {
        position: absolute;
        right: 0;
        top: -226px;
    }
}