<section class="s-contacts">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A95b5e535ed166a3317efdc6ebedb1986e6ab73ad68d5047c6a67df46ac913f82&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>

    <div class="l-container">
        <div class="s-contacts__card">
            <h2 class="s-contacts__title">приглашаем <br> к сотрудничеству дилеров!</h2>
            <p class="s-contacts__adress">ул. Большая Конюшенная, д. 19/8 <span>Санкт-Петербург</span></p>
        </div>
    </div>
</section>