<section class="s-example">
    <div class="l-container">
        <h2 class="s-example__title">Живой пример</h2>

        <p class="s-example__descr">Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.</p>
        <ul class="s-example__list">
            <li class="s-example__item">
                <p>5 кг</p>
                <h3 class="s-example__border-title s-example__border-title--first">снижение веса</h3>
            </li>
            <li class="s-example__item">
                <p>60 дней</p>
                <h3 class="s-example__border-title s-example__border-title--second">затрачено времени</h3>
            </li>
        </ul>
        <div class="s-example__money">Затраты на питание: <span>15 000 руб.</span></div>
    </div>
</section>