<footer class="footer">
    <div class="l-container">
        <div class="footer__wrapper">
            <img src="../../image/footer/footer-logo.svg" alt="" class="footer__logo">
            <ul class="footer__list">
                <li class="footer__item"><img src="../../image/footer/vk.svg.svg" alt="" class="footer__img-social"></li>
                <li class="footer__item"><img src="../../image/footer/insta.svg.svg" alt="" class="footer__img-social"></li>
                <li class="footer__item footer__item--last"><img src="../../image/footer/fb.svg.svg" alt="" class="footer__img-social"></li>
            </ul>
            <div class="footer__academy-wrapper">
                <p>HTML Academy</p>
                <img src="../../image/footer/htmlacademy.svg" alt="" class="footer__academy">
            </div>
        </div>
    </div>
</footer>