<section class="s-nav">
    <div class="l-container">
        <div class="s-nav__wrapper">
            <ul class="s-nav__logo-list">
                <li class="s-nav__logo-item"></li>
            </ul>
            <ul class="s-nav__menu-list">
                <li class="s-nav__menu-item"><a href="#" class="s-nav__link">Главная</a></li>
                <li class="s-nav__menu-item"><a href="#" class="s-nav__link">Каталог продукции</a></li>
                <li class="s-nav__menu-item"><a href="#" class="s-nav__link">Подбор программы</a></li>
            </ul>
        </div>
    </div>
</section>