<section class="s-pre">
    <div class="l-container">
        <div class="s-pre__wrapper">
            <h2 class="s-pre__title">Функциональное питание для котов</h2>
            <h3 class="s-pre__subtitle">Занялся собой? Займись котом!</h3>
            <button class="button button--s-pre">Подобрать программу</button>
            
            <img src="../../image/bg/logo-desktop.svg.jpg" alt="" class="s-pre__bg-image">

            <img src="../../image/nav/index-can.png" alt="" class="s-pre__index-image">
        </div>
    </div>
</section>