<section class="s-work">
    <div class="l-container">
        {# <div class="s-work__wrapper"> #}
        <h2 class="s-work__title">Как это работает</h2>
        <ul class="s-work__list">
            <li class="s-work__item s-work__item--first">
                <img src="../../image/work/advantage-1.png.svg" alt="" class="s-work__img">
                <p class="s-work__descr">Функциональное питание содержит только полезные питательные вещества.</p>
                <p class="s-work__number s-work__number--one">1</p>
            </li>
            <li class="s-work__item s-work__item--second">
                <img src="../../image/work/andvantage-2.png.svg" alt="" class="s-work__img">
                <p class="s-work__descr">Выпускается в виде порошка, который нужно лишь залить кипятком и готово.</p>
                <p class="s-work__number">2</p>
            </li>
            <li class="s-work__item s-work__item--third">
                <img src="../../image/work/advantage-3.png.svg" alt="" class="s-work__img">
                <p class="s-work__descr">Замените один-два приема обычной еды на наше фунцкциональное питание.</p>
                <p class="s-work__number">3</p>
            </li>
            <li class="s-work__item s-work__item--fourth">
                <img src="../../image/work/advantage-4.png.svg" alt="" class="s-work__img">
                <p class="s-work__descr">Уже через месяц наслаждайтесь изменениями к лучшему<br> 
                    вашего питомца!</p>
                    <p class="s-work__number">4</p>
            </li>
        </ul>
        {# </div> #}
    </div>
</section>