// Colors
$c-brand: #68b738;
$c-brand-hover: #427424;
$c-text-light: #ffffff;
$c-text-dark: #111111;
$c-accent: #e86121;
$c-bg: #f2f2f2;

$c-white: #ffffff;
$c-black: #000000;
$c-gary:  #7C7C7C;
$c-text: #182a2d;
$c-error: red;
$c-main-bg: #ffffff;
$c-minor-main-bg: #f1f1f2;
$c-border: #dedede;
$c-disabled: #f3f3f3;
$c-border-nav: #d3e59a;
$c-shadow: rgba(0,0,0,0.25);
$c-info: #c7d0d8;
$c-darker: #182025;
$c-direct: #3e4d49;
$c-footer-about-text: #a7a9ac;
$c-bright: #52c6f4;
$c-deep: #637e89;


