.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-ic-burger {
  width: 30px;
  height: 21px;
}
.icon-ic-consulting {
  width: 57px;
  height: 58px;
}
.icon-ic-cross {
  width: 16px;
  height: 16px;
}
.icon-ic-date {
  width: 57px;
  height: 58px;
}
.icon-ic-directory {
  width: 58px;
  height: 58px;
}
.icon-ic-facebook {
  width: 512px;
  height: 512px;
}
.icon-ic-instagram {
  width: 512px;
  height: 512px;
}
.icon-ic-linkedin {
  width: 512px;
  height: 512px;
}
.icon-ic-message {
  width: 57px;
  height: 52px;
}
.icon-ic-tablet {
  width: 47px;
  height: 57px;
}
.icon-ic-text-logo {
  width: 271px;
  height: 24px;
}
.icon-ic-twitter {
  width: 512px;
  height: 512px;
}
.icon-ic-voice {
  width: 39px;
  height: 57px;
}
.icon-ic-zoom {
  width: 26px;
  height: 26px;
}
