html {
  font-size: 100%;
  height: 100%;
}

body {
  font-family: $font-base;
  font-style: normal;
  font-weight: normal;
  @include fontSizeResponsive($fs-base);
  line-height: 1.4;
  color: $c-text;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background: $c-main-bg;

  &.stop-scrolling {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

main {
  flex: 0 0 100%;
}

svg {
  fill: currentColor;
}

button,
a {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  font-size: inherit;
}

a {
  color: inherit;
  transition: color 0.3s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  tap-highlight-color: transparent;

  &:hover {
    color: $c-accent;
  }

  &:focus,
  &:active {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  }
}

button,
label {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  tap-highlight-color: transparent;

  &:focus,
  &:active {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    tap-highlight-color: transparent;
  }
}

.container {
  width: 100%;
  max-width: 73.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.no-scroll {
  max-height: 100%;
  overflow-y: hidden;
}